# Backend - Python
/venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Backend - Database
/image_rater.db
/backend/image_rater.db

# Frontend - Node.js
/frontend/node_modules/
/frontend/build/
/frontend/.pnp.js
/frontend/.pnp.loader.mjs

# Frontend - Logs
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*

# User-specific data
/sample_images/

# OS-specific
.DS_Store
Thumbs.db
